<template>
  <q-item clickable v-ripple :to="{ name: routeName }" exact>
    <q-item-section v-if="icon" avatar>
      <q-icon :name="icon" color="grey" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label v-if="caption" class="text-grey" caption>{{ caption }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "DrawerLink",
  props: {
    title: {
      type: String,
      default: ""
    },
    caption: {
      type: String,
      default: ""
    },
    routeName: {
      type: String,
      default: "#"
    },
    icon: {
      type: String,
      default: ""
    }
  }
});
</script>

<style lang="scss" scoped>
.q-item.q-router-link--active, .q-item--active {
  color: $secondary-accent;

  .q-icon {
    color: $secondary-accent !important;
  }
}

.q-item {
  color: var(--q-color-white);

  &:hover {
    color: $accent;

    .q-icon {
      color: $accent !important;
    }
  }
}
</style>
