<template>
  <q-drawer
      v-model="leftDrawerOpen"
      class="bg-primary text-white"
      show-if-above
      bordered
    >
      <q-scroll-area class="fit">
        <q-list padding>
          <template v-for="link in sidebarComponents" :key="link.title">
            <DrawerLink v-if="link.type === 'link'" :title="link.title" :caption="link.caption" :route-name="link.routeName" :icon="link.icon" />
            <q-separator v-else-if="link.type === 'separator'" class="q-mt-md q-mb-xs" color="grey-8" />
            <q-item-label v-else-if="link.type='title'" header class="text-weight-bold text-uppercase">
              {{ link.title}}
            </q-item-label>
          </template>
        </q-list>
      </q-scroll-area>
    </q-drawer>
</template>

<script lang="ts">
import { defineComponent, defineAsyncComponent, PropType } from "vue";
import { storeToRefs } from "pinia";
import { useNavbarStore } from "src/stores/quasar/useNavbarStore";
import { ISidebarComponent } from "src/types";

export default defineComponent({
  name: "LeftDrawer",
  components: {
    DrawerLink: defineAsyncComponent(() => import("src/components/layout/DrawerLink.vue"))
  },
  props: {
    sidebarComponents: {
      type: Array as PropType<Array<ISidebarComponent>>,
      default: () => []
    }
  },
  setup: () => {
    const { leftDrawerOpen } = storeToRefs(useNavbarStore());

    return {
      leftDrawerOpen
    };
  }
});
</script>
