<template>
  <q-btn dense flat color="grey-5" icon="mdi-bell">
    <q-badge color="red" text-color="white" floating>
      2
    </q-badge>
    <q-tooltip>Notifications</q-tooltip>
  </q-btn>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "NavbarNotifications"
});
</script>
