<template>
  <div class="search-container row">
    <q-select
      ref="search"
      class="search-select col"
      color="black" :stack-label="false" label="Search or jump to..."
      v-model="searchText" :options="filteredOptions" @filter="filter" @update:model-value="clickSearchItem"
      dark dense standout use-input hide-selected
    >
      <template #no-option>
        <q-item>
          <q-item-section>
            <div class="text-center">
              <q-spinner-pie
                color="secondary-accent"
                size="sm"
              />
            </div>
          </q-item-section>
        </q-item>
      </template>

      <template #option="scope">
        <q-item
          v-bind="scope.itemProps"
          class="GL__select-GL__menu-link"
          active-class="text-white"
        >
          <q-item-section side>
            <q-icon name="mdi-bookmark-plus" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{scope.opt.label}}</q-item-label>
          </q-item-section>
          <q-item-section side :class="{ 'default-type': !scope.opt.type }">
            <q-btn outline dense no-caps text-color="blue-grey-5" size="12px" class="bg-grey-1 q-px-sm">
              {{ scope.opt.type || 'Jump to' }}
              <q-icon name="mdi-subdirectory-arrow-left" size="14px" />
            </q-btn>
          </q-item-section>
        </q-item>
      </template>
    </q-select>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, Ref } from "vue";
import { QSelect, QSelectProps } from "quasar";
import { useRouter } from "vue-router";
import { INavbarSearchOptions, INavbarSearchFilteredOptions } from "src/types";
import routeNames from "src/router/routeNames";

const defaultOptions = [
  {
    label: "Dashboard",
    routeName: routeNames.dashboard
  }
];

export default defineComponent({
  name: "NavbarSearch",
  setup: () => {
    const search = ref(null) as Ref<QSelect | null>;
    const searchText = ref("");
    const options = ref<Array<INavbarSearchOptions | INavbarSearchFilteredOptions>>([]);
    const filteredOptions = ref<Array<INavbarSearchOptions | INavbarSearchFilteredOptions>>([]);

    const filter: QSelectProps["onFilter"] = (filterVal: string, update) => {
      if (options.value.length === 0) {
        // load data
        setTimeout(() => {
          options.value = defaultOptions;
          search.value?.filter("");
        }, 2000);
      }

      update(() => searchUpdate(filterVal));
    };

    const searchUpdate = (filterVal?: string) => {
      if (options.value) {
        if (filterVal) {
          filteredOptions.value = [
            {
              label: filterVal,
              routeName: routeNames.dashboard,
              type: "In this repository"
            },
            {
              label: filterVal,
              routeName: routeNames.dashboard,
              type: "All Fortinity"
            },
            ...options.value
              .filter(op => op.label.toLowerCase().includes(filterVal.toLowerCase()))
              .map(op => op)
          ];
        } else {
          filteredOptions.value = options.value.map(op => op);
        }
      }
    };

    const router = useRouter();
    const clickSearchItem = (value: INavbarSearchOptions | INavbarSearchFilteredOptions) => {
      router.push({ name: value.routeName });
    }

    return {
      search,
      searchText,
      options,
      filteredOptions,
      filter,
      clickSearchItem
    };
  }
});
</script>

<style lang="scss">
.search-container {
  min-width: 100px;
  width: 55%;
}

.search-select.q-field--focused {
  .q-field__append {
    display: none;
  }
}

.GL__select-GL__menu-link {
  .default-type {
    visibility: hidden;
  }

  &:hover {
    background: $accent;
    color: white;

    .default-type {
      visibility: visible
    }
  }
}

.q-manual-focusable--focused {
  background: $accent;
  color: white;

  .default-type {
    visibility: visible
  }
}
</style>
