<template>
  <q-btn dense flat>
    <q-avatar size="26px">
      <img src="https://cdn.quasar.dev/img/boy-avatar.png">
    </q-avatar>
    <q-tooltip>Account</q-tooltip>
  </q-btn>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "NavbarAccount"
});
</script>
