<template>
  <q-btn dense flat color="grey-5" icon="mdi-message-text">
    <q-tooltip>Messages</q-tooltip>
  </q-btn>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "NavbarMessages"
});
</script>
