<template>
  <q-page class="q-pa-md">
    Dashboard!
    {{ user }}
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { storeToRefs } from "pinia";
import { useAuthStore } from "src/stores/account/auth";

export default defineComponent({
  name: "IndexPage",
  setup: () => {
    const authStore = useAuthStore();
    const { user } = storeToRefs(authStore);

    return {
      user
    };
  }
});
</script>
