.text-secondary-accent {
  color: $secondary-accent !important;
}

.bg-secondary-accent {
  background: $secondary-accent !important;
}

.q-item--active {
  color: white !important;
  background-color: $secondary !important;
}

.q-manual-focusable--focused {
  color: white !important;
  background-color: $accent !important;
}
