<template>
  <div id="loginPage" class="fullscreen">
    <div class="row full-height items-center justify-center">
      <div class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 q-pa-md">
        <q-card>
          <q-card-section>
            <q-input
              v-model="username"
              placeholder="Username"
              label="Username"
              outlined
            >
              <template #prepend>
                <q-icon name="mdi-account" />
              </template>
            </q-input>

            <q-input
              v-model="password"
              type="password"
              placeholder="Password"
              label="Password"
              class="q-mt-md"
              outlined
            >
              <template #prepend>
                <q-icon name="mdi-lock" />
              </template>
            </q-input>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn @click="login" color="accent">Login</q-btn>
          </q-card-actions>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useRouter } from "vue-router";
import routeNames from "src/router/routeNames";
import { useAuthStore } from "src/stores/account/auth";

export default defineComponent({
  name: "LoginPage",
  setup: () => {
    const auth = useAuthStore();
    const router = useRouter();
    const username = ref("demo@feathersjs.com");
    const password = ref("supersecret");

    const login = async () => {
      try {
        await auth.authenticate({
          strategy: "local",
          email: username.value,
          password: password.value
        });
        router.push({ name: routeNames.dashboard });
      } catch (err) {
        console.log(err);
      }
    };

    return {
      username,
      password,
      login
    };
  }
});
</script>

<style lang="scss" scoped>
// https://images2.alphacoders.com/101/101692.jpg
#loginPage {
  background: url(/images/LoginBackground.jpg) no-repeat center center;
  background-size: cover;
}
</style>
