<template>
  <q-table
    @request="request"
    :rows="rows"
    :columns="columns"
    :loading="loading"
    v-model:pagination="tablePagination"
    :row-key="rowKey"
    separator="horizontal"
    binary-state-sort
  >
    <template #top>
      <q-btn icon="mdi-information" class="q-mr-sm q-pa-none" size="md" color="accent" flat>
        <q-tooltip>Info</q-tooltip>
      </q-btn>
      <q-btn icon="mdi-filter" class="q-mr-sm q-pa-none" size="md" color="purple" flat>
        <q-tooltip>Filter</q-tooltip>
      </q-btn>
      <q-item-label class="text-h6 text-weight-bold">{{ title }}</q-item-label>
      <q-space />
      <q-btn color="secondary" :disable="loading" label="Create" class="q-ml-md" />
    </template>

     <template #body="props">
      <q-tr :props="props">
        <q-td v-for="col in props.cols" :key="col.name" :props="props" style="max-width: 50px">
          <template v-if="col.name !== '_id'">
            {{ col.value }}
          </template>
          <template v-else>
            <q-btn type="a" size="md" color="accent" flat>{{ col.value }}</q-btn>
          </template>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script lang="ts">
import { defineComponent, onMounted, computed, PropType } from "vue";
import { QTableProps } from "quasar";
import { FindFn, BaseModel } from "feathers-pinia";

export default defineComponent({
  name: "RecordTable",
  props: {
    title: {
      type: String,
      default: ""
    },
    rows: {
      type: Array,
      default: () => []
    },
    columns: {
      type: Array as PropType<QTableProps["columns"]>,
      default: () => []
    },
    pagination: {
      type: Object as PropType<QTableProps["pagination"]>,
      default: undefined
    },
    loading: {
      type: Boolean,
      default: false
    },
    limit: {
      type: Number,
      default: 10
    },
    total: {
      type: Number,
      default: 10
    },
    currentPage: {
      type: Number,
      default: 10
    },
    find: {
      type: Function as PropType<FindFn<BaseModel>>,
      default: () => null
    },
    rowKey: {
      type: String,
      default: "_id"
    }
  },
  emits: ["getRecords", "setPaginationParams", "setPagination"],
  setup: (props, context) => {
    const tablePagination = computed(() => props.pagination);
    const request: QTableProps["onRequest"] = async (requestProps) => {
      context.emit("setPaginationParams", requestProps);
      await context.emit("getRecords", props.find, requestProps.pagination.rowsPerPage, props.total, requestProps.pagination.page);
    };

    const updatePagination: QTableProps["onUpdate:pagination"] = (newPagination) => {
      console.log("newp", newPagination);
    };

    onMounted(async () => {
      await props.find();
      context.emit("setPagination", props.limit, props.total, props.currentPage);
    });

    return {
      tablePagination,
      request,
      updatePagination
    };
  }
});
</script>
