<template>
  <router-view />
</template>

<script lang="ts">
import { defineComponent, onMounted } from "vue";
import { syncWithStorage } from "feathers-pinia";
import { useAuthStore } from "src/stores/account/auth";

export default defineComponent({
  name: "App",
  setup: () => {
    const auth = useAuthStore();

    onMounted(async () => {
      syncWithStorage(auth, ["accessToken"]);
    });
  }
});
</script>
