<template>
  <q-layout view="hHh lpR fFf" class="bg-grey-1">
    <q-header elevated class="bg-primary text-grey-5 q-py-xs" height-hint="58">
      <q-toolbar>
        <q-btn
          v-if="showSidebar"
          @click="toggleLeftDrawer"
          aria-label="Menu"
          icon="mdi-menu"
          flat
          dense
        />

        <q-btn v-if="$q.screen.gt.xs" :to="{ name: routeNames.dashboard }" :class="titleClass" flat no-caps no-wrap>
          <q-toolbar-title shrink class="text-weight-bold text-accent">
            Feathers Pinia
          </q-toolbar-title>
        </q-btn>

        <q-space />

        <NavbarSearch />

        <q-space />

        <div class="q-gutter-sm row items-center no-wrap">
          <NavbarMessages />
          <NavbarNotifications />
          <NavbarAccount />
        </div>
      </q-toolbar>
    </q-header>

    <LeftDrawer v-if="showSidebar" :sidebar-components="sidebarComponents" />

    <q-page-container class="bg-grey-4">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent, defineAsyncComponent, PropType, ref } from "vue";
import { storeToRefs } from "pinia";
import routeNames from "src/router/routeNames";
import { useNavbarStore } from "src/stores/quasar/useNavbarStore";
import { ISidebarComponent } from "src/types";

export default defineComponent({
  name: "BaseLayout",
  components: {
    NavbarSearch: defineAsyncComponent(() => import("src/components/layout/NavbarSearch.vue")),
    NavbarMessages: defineAsyncComponent(() => import("src/components/layout/NavbarMessages.vue")),
    NavbarNotifications: defineAsyncComponent(() => import("src/components/layout/NavbarNotifications.vue")),
    NavbarAccount: defineAsyncComponent(() => import("src/components/layout/NavbarAccount.vue")),
    LeftDrawer: defineAsyncComponent(() => import("src/components/layout/LeftDrawer.vue"))
  },
  props: {
    showSidebar: {
      type: Boolean,
      default: true
    },
    sidebarComponents: {
      type: Array as PropType<Array<ISidebarComponent>>,
      default: () => []
    }
  },
  setup: (props) => {
    const navbarStore = useNavbarStore();
    const { leftDrawerOpen } = storeToRefs(navbarStore);
    const { toggleLeftDrawer } = navbarStore;
    const titleClass = ref(props.showSidebar ? "q-ml-xs" : "");

    return {
      routeNames,
      leftDrawerOpen,
      toggleLeftDrawer,
      titleClass
    };
  }
});
</script>
