<template>
  <BaseLayout :show-sidebar="false" />
</template>

<script lang="ts">
import { defineComponent, defineAsyncComponent } from "vue";

export default defineComponent({
  name: "MainLayout",
  components: {
    BaseLayout: defineAsyncComponent(() => import("src/layouts/BaseLayout.vue"))
  }

  // const sidebarComponents = ref<ISidebarComponent[]>([
  //   { type: "link", icon: "mdi-home", title: "Dashboard", routeName: "Dashboard" },
  //   { type: "link", icon: "mdi-fire", title: "Trending", caption: "Watch me live!", routeName: "Dashboard2" },
  //   { type: "link", icon: "mdi-youtube-subscription", title: "Subscriptions", routeName: "Dashboard3" },
  //   { type: "separator" },
  //   { type: "title", "title": "hello" },
  //   { type: "link", icon: "mdi-youtube", title: "Youtube", routeName: "Dashboard3" },
  // ]);
});
</script>
